name: Lint, Build & Test

on:
  workflow_dispatch:

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          pip install flake8 pylint
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  docker:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - name: Check for failing tests
        run: |
          if grep -q '"failed": true' .github/workflows/main.yml; then
            echo "There were failing tests. Aborting build."
            exit 1
          fi
      - uses: actions/checkout@v3
        name: Check out code
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Docker image
        with:
          image: jmalakauskas/codeacademy
          tags: v1, latest
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

  test:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Pull Docker image
        run: docker pull jmalakauskas/codeacademy:latest
      - name: Run tests on Docker image
        run: docker run --rm codeacademy/my-image:v1 echo "Testing Docker image build"
